.form_background{
    background-color: rgba(244, 244, 245, 0.644);
   top: 0;
    padding: 10px;
    z-index: 15;
    height: 99vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transform: scale(0) ;
    transition: transform .25s;
}
.form_background.able{
    transform: scale(1);
    transition: transform .25s;
}
.form_container{
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:normal;
    gap: 15px;
    position: relative;
    border: solid 4px rgb(175, 174, 174);
}
.form_close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.form_close:hover{
    color:black;
    padding: 5px;
}
.form_item{
    font-size: 12px;
    font-weight: 700;
}
.form_item .form_input{
   outline: none; 
   background-color: rgb(245, 245, 245);
   border: solid 1px rgb(236, 236, 236);
   padding: 5px;
   border-radius: 3px;
   width: 200px;

}
.form_btn{
    background-color: #555A88;
    border: solid 1px gainsboro;
    color: azure;
    padding: 5px;
    border-radius: 5px;
}
.form_title{
    font-size: 18px;
    color: #0F0F2D;
}